input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/* Slider Styles */
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: #141516;
  height: 0.5rem;
  border-radius: 5px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: #141516;
  height: 0.5rem;
  border-radius: 5px;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  height: 0px;
  width: 0px;
}

/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
  height: 0px;
  width: 0px;
}

/***** Focus Styles *****/
/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]:focus::-webkit-slider-thumb {
  height: 0px;
  width: 0px;
}

/******** Firefox ********/
input[type="range"]:focus::-moz-range-thumb {
  height: 0px;
  width: 0px;
}
